{% load static %}
{% load blog_extra %}
{% load cache %}
{% load comments_extras i18n %}
{% load comments i18n %}
{% load compress %}
{# TODO: 完善head meta信息 关键字 摘要 爬虫协议 robots.txt#}
{# TODO: editor.md 移动端切换模式 #}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{% block head_title %}
        Black &amp; White
    {% endblock %}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- css -->
    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          href="https://lib.baomitu.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://lib.baomitu.com/ionicons/2.0.1/css/ionicons.min.css">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endcompress %}
    {% block extra_css %}

    {% endblock %}
    <!-- js -->
    <script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/pace/0.5.6/pace.min.js"></script>
    {% compress js %}
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% endcompress %}

</head>

<body {% block bodyid %} {% endblock %}>

{% block container %}

    <div class="container">
    <header id="site-header">
    {% cache 500 'cache_navbar' %}
        <nav class="navbar navbar-expand-md" role="navigation">
        <a class="col-md-4 col-sm-5 col-8 pl-0 logo" href="{% url 'blog:index' %}">
            <img src="{% static 'img/logo/vector/default-monochrome.svg' %}"/></a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item cl-effect-11"><a class="nav-link" href="{% url 'blog:index' %}"
                                             data-hover="首页">首页</a>
        </li>
        <li class="nav-item cl-effect-11"><a class="nav-link" href="{% url 'blog:full_width' %}"
                                             data-hover="博客">博客</a>
        </li>
        <li class="nav-item cl-effect-11"><a class="nav-link" href="{% url 'blog:about' %}"
                                             data-hover="关于">关于</a>
        </li>
        <li class="nav-item cl-effect-11"><a class="nav-link" href="{% url 'contact_form' %}"
                                             data-hover="联系">联系</a>
        </li>
        <li class="nav-item">
            <a href="#" id="search-menu" class="search-icon nav-link ion-ios-search-strong"></a>
            <div id="search-form" class="search-form">
                <form role="search" method="get" id="searchform"
                      action="{% url 'blog:haystack_search' %}">

                    <input type="search" name="q" placeholder="搜索" required>

                    <button type="submit"><span class="ion-ios-search-strong"></span>
                    </button>
                </form>
            </div>
        </li>
    {% endcache %}
<li class="nav-item dropdown">
    {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle ion-log-out" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:profile' %}?next={{ request.path }}">用户信息</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">退出登录</a>
        </div>
    {% else %}
        <a class="nav-link dropdown-toggle ion-log-in" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
            <a class="dropdown-item" href="{% url 'account_signup' %}?next={{ request.path }}">注册</a>
        </div>
    {% endif %}
</li>

</ul>
</div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
</header>
</div>


<div class="content-body">
    <div class="container">
        {% if messages %}
            {#        TODO: 加入animate #}
            <div class="messages" id="messages">
                {# TODO: msg改为可视固定位置弹出并消失  #}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% block content %}
                <main class="col-md-9">
                    {% for post in post_list %}
                        {% get_comment_count for post as comment_count %}
                        <article class="post post-{{ post.pk }}">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a
                                            href="{% url 'blog:category' post.category.name %}">{{ post.category }}</a></span>
                                    <span class="post-date"><a href="{{ post.get_absolute_url }}"><time
                                            class="entry-date ion-calendar"
                                            datetime="{{ post.create_time|date:'Y-m-d' }}"> {{ post.create_time|date:'Y-m-d' }}</time></a></span>
                                    {#                            <span class="post-author"><a href="#">{{ post.author }}</a></span>#}
                                    <span class="comments-link"><a
                                            href="{{ post.get_absolute_url }}#comment-list"
                                            class="ion-chatbubble"> {{ comment_count }}</a></span>
                                    <span class="views-count"><a
                                            href="{{ post.get_absolute_url }}"
                                            class="ion-eye"> {{ post.get_view_num }}</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <a href="{{ post.get_absolute_url }}"><p class="excerpt">{{ post.excerpt }}</p></a>
                                <div class="read-more cl-effect-14">
                                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        </article>
                    {% empty %}
                        <div class="no-post">暂时还没有文章</div>
                    {% endfor %}



                    <div class="pagination-simple">
                        {% if is_paginated %}

                            {{ page_obj.render }}
                        {% endif %}

                    </div>
                </main>
            {% endblock %}
            {% block aside %}
            <aside class="col-md-3">

                    {% cache 500 'cache_aside' %}
                        {% show_recent_posts %}
                        {% show_archives %}
                        {% show_categories %}
                        {% show_tags %}
                    {% endcache %}
                    <div class="rss">
                        <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>

            </aside>
            {% endblock %}
        </div>
    </div>
</div>
{# TODO: language selector change style  #}
<form name="langform" id="langform" method='post'>{% csrf_token %}
    <select id="language" name="language" onchange="selectlang(this)">
        <option value="1">{% trans "Languages" %}</option>
        {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}" > {{ lang.1 }}</option>
        {% endfor %}
    </select>
</form>

<script>
function selectlang(obj) {
    str="/i18n/setlang/";
    langform = document.getElementById('langform');
    langform.method = "POST";
    langform.action = str;
    langform.submit();
}
</script>

<a href="#" class="cd-top text-replace js-cd-top">Top</a>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
<script crossorigin="anonymous" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        src="https://lib.baomitu.com/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
{% compress js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endcompress %}
<script src="{% static 'plugin/back_to_top/util.js' %}"></script>
<script src="{% static 'plugin/back_to_top/back_to_top.js' %}"></script>
{% block extra_js %}

{% endblock %}
</body>

</html>
