{% load static %}
{% load blog_extra %}
{% load cache %}
{% load comments_extras i18n %}
{% load comments i18n %}
{# TODO: editor.md min化 #}
{# TODO: 完善head meta信息 关键字 摘要 爬虫协议 #}
{# TODO: editor.md 移动端切换模式 #}
{# TODO: 右下角回到最上 #}
<!DOCTYPE html>
<html lang="zh">
<head>

    <title>{% block head_title %}
        Black &amp; White
    {% endblock %}</title>


    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- css -->
    <link rel="stylesheet" href="https://lib.baomitu.com/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lib.baomitu.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- js -->
    <script src="https://lib.baomitu.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://lib.baomitu.com/pace/0.5.6/pace.min.js"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% block extra_js %}

    {% endblock %}
</head>
{% block bodyid %}
    <body>
{% endblock %}
{% block container %}

    <div class="container">
        <header id="site-header">
            <div class="row">
            {% cache 500 'cache_logo' %}
                <div class="col-md-4 col-sm-5 col-xs-8">
                    <div class="logo">
                        <a href="{% url 'blog:index' %}"><img src="{% static 'img/logo/vector/default-monochrome.svg' %}"></img></a>
                    </div>
                </div><!-- col-md-4 -->
            {% endcache %}
                <div class="col-md-8 col-sm-7 col-xs-4">
                    {% cache 500 'cache_container' %}
                        <nav class="main-nav" role="navigation">
                            <div class="navbar-header">
                                <button type="button" id="trigger-overlay" class="navbar-toggle">
                                    <span class="ion-navicon"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a>
                                    </li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:full_width' %}"
                                                                data-hover="博客">博客</a>
                                    </li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a>
                                    </li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="联系">联系</a>
                                    </li>
                                    <li class="cl-effect-11 header-search-box"><div id="header-search-box">
                            <a id="search-menu" href="#"><span id="search-icon"
                                                               class="ion-ios-search-strong"></span></a>
                            <div id="search-form" class="search-form">
                                <form role="search" method="get" id="searchform"
                                      action="{% url 'blog:haystack_search' %}">

                                    <input type="search" name="q" placeholder="搜索" required>

                                    <button type="submit"><span class="ion-ios-search-strong"></span></button>
                                </form>
                            </div>
                        </div></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                    {% endcache %}
                    <div class="login-menu-box" onmouseleave="show_menu1()">
                        {#                    TODO: 加入账户图片、下拉菜单、登陆控制#}
                        {#                    登录后为头像，下拉为账户信息登出#}
                        {#                    未登录为登陆标志，下拉为登录注册#}
                        {% if user.is_authenticated %}
                            <a href="#" onclick="show_menu()" title="用户中心">
                            {#                    TODO: 头像显示#}
                                <div class="ion-log-out login-menu">
                                    {% if user.socialaccount %}
                                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                                    {% endif %}
                                </div>
                            </a>
                            <ul id="user-login-menu">
                                <li>
                                    <a href="{% url 'users:profile' %}?next={{ request.path }}">用户信息</a>

                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}?next={{ request.path }}">退出登录</a>
                                </li>
                            </ul>

                        {% else %}
                            <a href="#" onclick="show_menu()" title="请登录">
                                <div class="ion-log-in login-menu"></div>
                            </a>
                            <ul id="user-login-menu">
                                <li>
                                    <a href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_signup' %}?next={{ request.path }}">注册</a>
                                </li>
                            </ul>

                        {% endif %}

                </div>

                </div><!-- col-md-8 -->
            </div>
{#        TODO: 加入animate #}
            {% if messages %}
        <div class="messages" id="messages">
{# TODO: msg改为可视固定位置弹出并消失  #}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        </header>
    </div>
{% endblock %}

<div class="content-body">
    <div class="container">
        <div class="row">
            {% block content %}
                <main class="col-md-9">
                    {% for post in post_list %}
                        {% get_comment_count for post as comment_count %}
                        <article class="post post-{{ post.pk }}">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a
                                            href="{% url 'blog:category' post.category.name %}">{{ post.category }}</a></span>
                                    <span class="post-date"><a href="{{ post.get_absolute_url }}"><time
                                            class="entry-date ion-calendar"
                                            datetime="{{ post.create_time|date:'Y-m-d' }}"> {{ post.create_time|date:'Y-m-d' }}</time></a></span>
                                    {#                            <span class="post-author"><a href="#">{{ post.author }}</a></span>#}
                                    <span class="comments-link"><a
                                            href="{{ post.get_absolute_url }}#comment-list" class="ion-chatbubble"> {{comment_count}}</a></span>
                                    <span class="views-count"><a
                                            href="{{ post.get_absolute_url }}"
                                            class="ion-eye"> {{ post.get_view_num }}</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <a href="{{ post.get_absolute_url }}"><p class="excerpt">{{ post.excerpt }}</p></a>
                                <div class="read-more cl-effect-14">
                                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        </article>
                    {% empty %}
                        <div class="no-post">暂时还没有文章</div>
                    {% endfor %}



                    <div class="pagination-simple">
                        {% if is_paginated %}

                            {{ page_obj.render }}
                        {% endif %}

                    </div>
                </main>
            {% endblock %}

            <aside class="col-md-3">
                {% block aside %}
                    {% cache 500 'cache_aside' %}
                        {% show_recent_posts %}
                        {% show_archives %}
                        {% show_categories %}
                        {% show_tags %}
                    {% endcache %}
                    <div class="rss">
                        <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                {% endblock %}
            </aside>

        </div>
    </div>
</div>
{% block footer %}
        {% include 'footer.html' %}
{% endblock %}
{% block mobile_menu %}
{% include 'moblie menu.html' %}
{% endblock %}
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>
