{% extends "base.html" %}
{% block head_title %}
    Xlivevil
{% endblock %}
{% block bodyid %}

{% endblock %}
{% block container %}
{{ block.super }}
{% endblock %}
            {% block content %}
                <main class="col-md-auto">
                    {% for post in post_list %}
                        <article class="post post-{{ post.pk }}">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a
                                            href="{% url 'blog:category' post.category.name %}">{{ post.category }}</a></span>
                                    <span class="post-date"><a href="{{ post.get_absolute_url }}"><time
                                            class="entry-date ion-calendar"
                                            datetime="{{ post.create_time|date:'Y-m-d' }}"> {{ post.create_time|date:'Y-m-d' }}</time></a></span>
                                    {#                            <span class="post-author"><a href="#">{{ post.author }}</a></span>#}
                                    <span class="comments-link"><a
                                            href="{{ post.get_absolute_url }}#comment-list" class="ion-chatbubble"> {{ post.comment_set.count }}</a></span>
                                    <span class="views-count"><a
                                            href="{{ post.get_absolute_url }}"
                                            class="ion-eye"> {{ post.get_view_num }}</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <a href="{{ post.get_absolute_url }}"><p class="excerpt">{{ post.excerpt }}</p></a>
                                <div class="read-more cl-effect-14">
                                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        </article>
                    {% empty %}
                        <div class="no-post">暂时还没有文章</div>
                    {% endfor %}



                    <div class="pagination-simple">
                        {% if is_paginated %}

                            {{ page_obj.render }}
                        {% endif %}

                    </div>
                </main>
            {% endblock %}
{% block aside %}

{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}

