{% load comments i18n %}
{% load static %}
{% load compress %}
<script crossorigin="anonymous"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'plugin/editor.md/editormd.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugin/editor.md/css/editormd.min.css' %}"/>
<form action="{% comment_form_target %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ request.path }}"/>

    {% for field in form %}
        {% ifequal field.name "comment" %}
            <div class="form-group">
                <div class="controls " id="editor">
                    {{ field }}
                </div>
            </div>
        {% endifequal %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% else %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            {% if field.errors %}
                <p class="error">
                    {{ field.label_tag }} {{ field }}
                </p>
            {% endif %}

            {% ifequal field.name "honeypot" %}
                <p style="display:none;">
                    {{ field.label_tag }} {{ field }}
                </p>{% endifequal %}

        {% endif %}

    {% endfor %}
    <p class="submit">
        <input type="button" name="post" class="submit-post"
                value="{% trans "Post" %}" onclick="this.form.submit()"/>
    </p>
</form>

{% compress js %}
<script type="text/javascript">
    $(function () {
        let editor = editormd("editor", {
            height: 200,
            autoFocus: false,
            toolbarIcons:  [
            "undo", "redo", "|",
            "bold", "del", "italic", "quote", "|",
            "list-ul", "list-ol", "hr", "|",
            "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "|",
            "watch", "preview", "clear", "|",
            "help", "info"
            ],
            path: "{% static 'plugin/editor.md/lib/' %}"  // Autoload modules mode, codemirror, marked... dependents libs path
        });
    });
</script>
{% endcompress %}