{% load comments %}
{% load comments_extras %}
{% load mptt_tags %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% get_comment_list for post as comment_list %}
<dl class="comment-list list-unstyled" id="comments">
    {% recursetree comment_list %}
    {% with node as comment %}
    <dt class="comment-item" id="c{{ comment.id }}">
        {% if user.socialaccount %}
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
        {% endif %}
        <span class="nickname">{{ comment.user.username }}</span>
        <time class="comment-time" datetime="{{ comment.submit_date }}">{{ comment.submit_date|naturaltime }}</time>

    </dt>
    <dd class="comment-item" id="c{{ comment.id }}t">

        {% comment %}
        <a  href="#c{{ comment.parent.id }}">
        <div class="quote">
        {% if comment.parent %}<span>{{ comment.parent.comment_html|safe|truncatechars_html:30 }}</span>{% endif %}
        </div>
        </a>
        {% endcomment %}

        {{ comment.comment_html|safe }}


            <div class="reply">
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-submit" id="reply-btn{{ comment.pk }}"
                    onclick="showReply({{ comment.pk }})">
                    {% trans "reply" %}</a>
                {% else %}
                <a class="btn btn-primary btn-sm" id="reply-btn{{ comment.pk }}"
                    href="{% url 'account_login' %}?next={{ request.path }}">
                    {% trans "reply" %}</a>
                {% endif %}
            </div>
    </dd>

    {% if not comment.is_leaf_node %}
    <dl class="children">
        {{ children }}
    </dl>
    {% endif %}
    {% endwith %}
    {% endrecursetree %}
</dl>

<script type="text/javascript">
    function showReply(x) {
        const box = document.getElementById("c" + x + "t");
        if (document.getElementById("iframe"+x)){
            let oldbox = document.getElementById("iframe"+x);
            oldbox.remove();
            return
        };
        const newiframe = document.createElement('iframe');
        newiframe.style.cssText = "class:reply-box;height:270px;width:100%;frameborder:0;scrolling:0;";
        newiframe.id = "iframe"+x;
        newiframe.name = "reply_iframe";
        newiframe.src = "/zh-hans/comments/reply/" + x;
        box.appendChild(newiframe);
    }
</script>
{# FIXME: 点回复弹出md回复框 回复键位置调整 回复跳转为本页刷新并msg  #}
