[run]
branch = True
source = .
omit =
   _credentials.py
   fabfile.py
   manage.py
   livevil_blog\wsgi.py
   livevil_blog\asgi.py
   livevil_blog\settings\*
   *\migrations\*
   *tests*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[html]
directory = coverage_html_report
