[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
Django = "==2.2"
django-allauth = "*"
docker-compose = "*"
requests = "*"
pillow = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-pure-pagination = "*"
django-haystack = "==3.0.0b2"
elasticsearch = "<6,>=5"
mysqlclient = "*"
markdown = "*"
django-redis = "*"
django-filter = "*"

[requires]
python_version = "3.7"
