django-contrib-comments
fabric
coverage
django~=2.2
markdown
gunicorn
faker
django-pure-pagination
elasticsearch>=5,<6
django-haystack==3.0.0b2
django-allauth
docker-compose
requests
pillow
django-debug-toolbar
djangorestframework
django-crispy-forms
django-reversion
django-pure-pagination
mysqlclient
django-redis
django-filter
supervisor
django-mptt
gettext
subdomains
uvicorn