.pace .pace-progress {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(22,185,208,1) 35%, rgba(29,132,199,1) 100%);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}